@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;500;600;700;800&display=swap");
.image-container {
  position: relative;
  display: flex;
  width: 100%;
  border: 1px solid black;
}
.image-container .slogan {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  bottom: 50%;
  z-index: 10;
  color: #d3d3d3;
  text-align: center;
  font-size: 80px;
}
.image-container .hull-image__one {
  position: relative;
  width: 33.33%;
  background-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.9) 100%), url("https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=821&q=80");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position-x: 10%;
  background-position-y: 50%;
  overflow: hidden;
}
.image-container .hull-image__one .hull-text__one {
  position: absolute;
  color: #d3d3d3;
  width: 200px;
  top: 75%;
  left: 40px;
  font-size: 32px;
  font-weight: 600;
  cursor: pointer;
}
.image-container .hull-image__one p:hover {
  color: #c0c0c0;
}
.image-container .hull-image__one i:hover {
  color: #c0c0c0;
}
.image-container .hull-image__one i {
  position: absolute;
  color: #d3d3d3;
  top: 75%;
  left: 80%;
  bottom: 15%;
  font-size: 32px;
  font-weight: 600;
  cursor: pointer;
}
.image-container .hull-image__two {
  position: relative;
  width: 33.33%;
  background-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.9) 100%), url("https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  overflow: hidden;
}
.image-container .hull-image__two .hull-text__two {
  position: absolute;
  color: #d3d3d3;
  width: 200px;
  top: 75%;
  left: 40px;
  font-size: 32px;
  font-weight: 600;
  cursor: pointer;
}
.image-container .hull-image__two p:hover {
  color: #c0c0c0;
}
.image-container .hull-image__two i:hover {
  color: #c0c0c0;
}
.image-container .hull-image__two i {
  position: absolute;
  color: #d3d3d3;
  top: 75%;
  left: 80%;
  bottom: 15%;
  font-size: 32px;
  font-weight: 600;
  cursor: pointer;
}
.image-container .hull-image__three {
  position: relative;
  width: 33.33%;
  background-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.9) 100%), url("https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  overflow: hidden;
}
.image-container .hull-image__three .hull-text__three {
  position: absolute;
  color: #d3d3d3;
  width: 200px;
  top: 75%;
  left: 40px;
  font-size: 32px;
  font-weight: 600;
  cursor: pointer;
}
.image-container .hull-image__three p:hover {
  color: #c0c0c0;
}
.image-container .hull-image__three i:hover {
  color: #c0c0c0;
}
.image-container .hull-image__three i {
  position: absolute;
  color: #d3d3d3;
  top: 75%;
  left: 80%;
  bottom: 15%;
  font-size: 32px;
  font-weight: 600;
  cursor: pointer;
}

.navbar-container {
  position: absolute;
  padding: 0 30px;
  overflow: hidden;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-container .navbar-links a {
  text-decoration: none;
  font-size: 20px;
  border: none;
  padding: 0;
  background: none;
  font-weight: bold;
  margin: 0 20px;
  color: #d3d3d3;
}
.navbar-container a:first-child {
  margin-left: 20px;
}
.navbar-container a:hover {
  color: #c0c0c0;
}
.navbar-container span {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #d3d3d3;
}
.navbar-container span:hover {
  color: #c0c0c0;
}
.navbar-container i {
  margin-right: 10px;
  color: #d3d3d3;
}
.navbar-container i:hover {
  color: #c0c0c0;
}
.navbar-container p {
  position: absolute;
  display: flex;
  color: #d3d3d3;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  left: 45%;
  top: 25%;
}
.navbar-container p .logo {
  width: 70px;
  height: 70px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Barlow", sans-serif;
}

body {
  background: #f5f5f5;
  width: 100%;
}

.go-container {
  padding: 20px;
}
.go-container p {
  color: #272727;
  font-size: 15px;
  font-weight: 600;
}
.go-container .view-destinations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.go-container .view-destinations h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.8;
}
.go-container .view-destinations a {
  text-decoration: none;
  padding: 10px;
  border: 1px solid grey;
  color: #272727;
  font-weight: 600;
  border-radius: 20px;
  font-size: 14px;
}
.go-container .view-destinations a:hover {
  color: white;
  background-color: #6495ed;
  transition: 0.2s ease-in-out;
}

.go-cards {
  display: flex;
  width: 100%;
  gap: 30px;
  margin-top: 60px;
  height: 300px;
}
.go-cards .go-card__one {
  position: relative;
  width: 33%;
  background-image: url("https://images.pexels.com/photos/1703311/pexels-photo-1703311.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.go-cards .go-card__one p {
  position: absolute;
  padding: 15px;
  font-size: 32px;
  text-decoration: none;
  color: #d3d3d3;
  top: 80%;
  font-weight: 600;
}
.go-cards .go-card__one:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
}
.go-cards .go-card__two {
  position: relative;
  width: 33%;
  background-image: url("https://images.pexels.com/photos/12326899/pexels-photo-12326899.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.go-cards .go-card__two p {
  position: absolute;
  padding: 15px;
  font-size: 32px;
  text-decoration: none;
  color: #d3d3d3;
  top: 80%;
  font-weight: 600;
}
.go-cards .go-card__two:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
}
.go-cards .go-card__three {
  position: relative;
  width: 33%;
  background-image: url("https://images.pexels.com/photos/8249882/pexels-photo-8249882.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.go-cards .go-card__three p {
  position: absolute;
  padding: 15px;
  font-size: 32px;
  text-decoration: none;
  color: #d3d3d3;
  top: 80%;
  font-weight: 600;
}
.go-cards .go-card__three:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
}

.video-container {
  width: 100%;
  height: 100%;
  margin-top: 60px;
  position: relative;
}
.video-container video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.video-container .video-text {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  top: 1%;
}
.video-container .video-text span {
  font-size: 260px;
  text-align: center;
  text-transform: uppercase;
  color: #d3d3d3;
  line-height: 1.05;
  font-weight: 500;
}
.video-container .video-text .line2 {
  font-size: 260px;
  text-transform: uppercase;
  color: #d3d3d3;
  line-height: 1.05;
  font-weight: 500;
}
.video-container .video-text .line3 {
  text-align: center;
  color: #d3d3d3;
  font-size: 70px;
  line-height: 1.05;
  font-weight: 500;
}
.video-container .description {
  position: absolute;
  display: flex;
  align-items: center;
  top: 75%;
  width: 100%;
  justify-content: center;
  font-weight: 600;
}
.video-container .description p {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
  font-size: 20px;
  color: #d3d3d3;
}
.video-container .description .block {
  margin-top: 40px;
  display: block;
  text-align: center;
}
.video-container .description .block a {
  text-decoration: none;
  padding: 10px;
  border: 1px solid grey;
  color: #272727;
  font-weight: 600;
  background-color: white;
  border-radius: 20px;
  padding: 7px 10px 10px;
  font-size: 14px;
  line-height: 4;
}
.video-container .description .block a:hover {
  color: white;
  background-color: #6495ed;
  transition: 0.2s ease-in-out;
}
.video-container .description .block button {
  text-decoration: underline;
  background: none;
  cursor: pointer;
  font-size: 16px;
  border: none;
  color: #d3d3d3;
  font-weight: 600;
}
.video-container .description .block button:hover {
  color: #6495ed;
}

.explore-stories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 20px;
  margin-left: 20px;
}
.explore-stories .text p {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: #272727;
}
.explore-stories .text h2 {
  font-weight: bold;
  font-size: 48px;
  margin-top: 15px;
  line-height: 0.9;
}
.explore-stories .links a {
  text-decoration: none;
  padding: 10px;
  border: 1px solid grey;
  color: #272727;
  font-weight: 600;
  background-color: white;
  border-radius: 20px;
  padding: 7px 10px 10px;
  font-size: 14px;
}
.explore-stories .links a:hover {
  color: white;
  background-color: #6495ed;
  transition: 0.2s ease-in-out;
}
.explore-stories .links a:first-child {
  margin-right: 10px;
}

.main-arcticle {
  display: flex;
  position: relative;
}
.main-arcticle .img {
  display: block;
  position: relative;
  margin: 0 20px;
  margin-right: 30px;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.9) 100%), url("https://images.pexels.com/photos/868097/pexels-photo-868097.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  height: 80vh;
  width: 50%;
  border-radius: 20px;
  background-size: cover;
}
.main-arcticle .img a {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  color: #d3d3d3;
  top: 60%;
  left: 5%;
  text-decoration: none;
}
.main-arcticle .img a:hover {
  text-decoration: underline;
}
.main-arcticle .img .places {
  position: absolute;
  font-size: 32px;
  font-weight: bold;
  color: #d3d3d3;
  top: 65%;
  left: 5%;
  text-decoration: none;
}
.main-arcticle .img .places:hover {
  text-decoration: underline;
}
.main-arcticle .img span {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  color: #d3d3d3;
  top: 75%;
  left: 5%;
}
.main-arcticle .img p {
  position: absolute;
  width: 600px;
  font-size: 16px;
  font-weight: bold;
  color: #d3d3d3;
  top: 85%;
  left: 5%;
}
.main-arcticle .aside {
  width: 50%;
  display: flex;
}
.main-arcticle .aside .carousel {
  width: 100%;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  overflow: hidden;
}
.main-arcticle .aside .carousel .btn {
  width: 50px;
  height: 50px;
  top: 97%;
  right: 9%;
  position: absolute;
  background: none;
  border: none;
  font-size: 2rem;
  z-index: 2;
  border-radius: 40%;
  cursor: pointer;
  color: #272727;
  background-color: rgba(0, 0, 0, 0.1);
}
.main-arcticle .aside .carousel .btn:hover {
  color: #d3d3d3;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.2s ease-in;
  cursor: pointer;
}
.main-arcticle .aside .carousel .button-next {
  top: 97%;
  right: 5%;
  position: absolute;
  cursor: pointer;
}
.main-arcticle .aside .carousel .slider {
  list-style-type: none;
  display: flex;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  overflow-x: hidden;
  overflow-y: hidden;
  opacity: 1;
}
.main-arcticle .aside .carousel .slider .slider[data-active] {
  opacity: 0;
}
.main-arcticle .aside .carousel .slider .slide {
  float: left;
  width: 400px;
  margin-right: 15px;
  inset: 0;
  list-style: none;
  flex-shrink: 0;
}
.main-arcticle .aside .carousel .slider .slide .slide-text {
  display: block;
  margin-top: 10px;
  width: 340px;
}
.main-arcticle .aside .carousel .slider .slide .slide-text .activity {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #272727;
  text-decoration: none;
}
.main-arcticle .aside .carousel .slider .slide .slide-text .places {
  font-size: 32px;
  font-weight: bold;
  color: #272727;
  text-decoration: none;
  line-height: 0.95;
  margin-top: 2rem;
}
.main-arcticle .aside .carousel .slider .slide .slide-text .activity:hover {
  text-decoration: underline;
}
.main-arcticle .aside .carousel .slider .slide .slide-text .places:hover {
  text-decoration: underline;
}
.main-arcticle .aside .carousel .slider .slide .slide-text span {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #272727;
  line-height: 1.4;
}
.main-arcticle .aside .carousel .slider .slide .slide-text p {
  font-size: 16px;
  font-weight: normal;
  color: #272727;
}
.main-arcticle .aside .carousel .slider .slide .slide-text div {
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-arcticle .aside .carousel .slider img {
  border-radius: 35%;
  width: 340px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.paaa {
  margin-top: 40px;
}

.books {
  margin-top: 80px;
  height: auto;
  background-color: #000;
}
.books .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height: 600px;
  padding: 50px;
  z-index: 20;
  margin-bottom: 150px;
}
.books .container img {
  top: 0;
  right: 0;
  max-width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 90%;
  z-index: 11;
  position: absolute;
  box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
}
.books .container .view-container {
  z-index: 10;
  margin: 40px 0px;
  max-width: 500px;
  height: 500px;
}
.books .container .view-container p {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: #d3d3d3;
  margin-bottom: 15px;
}
.books .container .view-container h2 {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 15px;
  line-height: 0.9;
  color: #d3d3d3;
}
.books .container .view-container .description {
  text-transform: none;
  font-size: 16px;
  color: #d3d3d3;
  font-weight: normal;
  margin-bottom: 25px;
}
.books .container .view-container a {
  text-decoration: none;
  padding: 10px;
  border: 1px solid grey;
  color: #d3d3d3;
  font-weight: 600;
  background-color: #000;
  border-radius: 20px;
  padding: 7px 10px 10px;
  font-size: 14px;
}
.books .container .view-container a:hover {
  cursor: pointer;
  color: #272727;
  background-color: #6495ed;
}
.books .container .subscribe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 20;
  margin: 26% 0px;
  margin-right: 50px;
  max-width: 100%;
  height: 250px;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 45px 60px;
}
.books .container .subscribe-container .discount-container {
  color: black;
  width: 50%;
  margin-bottom: 0;
}
.books .container .subscribe-container .discount-container h3 {
  color: rgba(0, 87, 217, 0.9);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}
.books .container .subscribe-container .discount-container p {
  color: #272727;
  line-height: 1.5;
  font-weight: 500;
}
.books .container .subscribe-container .email-container input {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 5px;
  width: 300px;
  border-radius: 20px;
  border: 1px solid grey;
  margin-right: 15px;
}
.books .container .subscribe-container .email-container input:focus {
  border-color: #0000ff;
  outline: none;
  box-shadow: 0px 0px 3px 0px rgb(0, 87, 217);
}
.books .container .subscribe-container .email-container .sign-up {
  text-decoration: none;
  border: 1px solid grey;
  padding: 10px 15px;
  width: 80px;
  border-radius: 20px;
  font-weight: bold;
  background-color: rgba(0, 87, 217, 0.9);
  color: #f5f5f5;
  font-size: 14px;
}
.books .container .subscribe-container .email-container .sign-up:hover {
  cursor: pointer;
  background-color: rgba(0, 87, 217, 0.6);
}
.books .container .subscribe-container .email-container p {
  color: #272727;
  font-size: 12px;
  font-weight: 500;
}

.social {
  background: rgba(0, 87, 217, 0.9);
  height: 650px;
  max-width: 100%;
  padding: 20px 0;
}
.social .social-links {
  margin: 0px 40px;
  margin-top: 3%;
  margin-bottom: 3%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social .social-links .home {
  text-decoration: none;
  font-size: 48px;
  color: #f5f5f5;
  font-weight: bold;
}
.social .social-links .icons {
  display: flex;
  align-items: center;
}
.social .social-links .icons .icon {
  font-size: 20px;
  margin-right: 10px;
}
.social .social-links .icons p {
  font-weight: bold;
  color: #f5f5f5;
  margin-right: 10px;
  letter-spacing: 2px;
}
.social .review-gallery {
  display: flex;
  margin-top: 60px;
  width: 100%;
}
.social .review-gallery a {
  text-decoration: none;
  position: relative;
  flex: 16.6%;
}
.social .review-gallery a img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  float: left;
}
.social .review-gallery a .transition {
  position: absolute;
  background-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 30;
}
.social .review-gallery a span {
  position: absolute;
  bottom: 3%;
  left: 3%;
  color: #d3d3d3;
  font-weight: bold;
  font-size: 18px;
}

footer .section-footer {
  padding: 30px 32px;
  width: 100%;
}
footer .section-footer .footer-container {
  display: flex;
  justify-content: space-between;
}
footer .section-footer .footer-container .sum-info {
  width: 500px;
}
footer .section-footer .footer-container .sum-info a {
  margin-bottom: 2.5rem;
  font-weight: bold;
  font-size: 32px;
  text-decoration: none;
  color: rgba(0, 87, 217, 0.9);
}
footer .section-footer .footer-container .sum-info p {
  font-weight: 500;
  margin-top: 20px;
}
footer .section-footer .footer-container .sum-info h3 {
  font-size: 15px;
}
footer .section-footer .footer-container .sum-info .links {
  display: flex;
}
footer .section-footer .footer-container .sum-info .links ul {
  list-style-type: none;
}
footer .section-footer .footer-container .sum-info .links ul li {
  float: left;
  font-size: 20px;
  padding-right: 10px;
}
footer .section-footer .footer-container .sum-info .text-form p {
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
}
footer .section-footer .footer-container .sum-info .text-form h3 {
  color: rgba(0, 87, 217, 0.9);
  font-size: 20px;
  font-weight: bold;
}
footer .section-footer .footer-container .sum-info .text-form .email-container input {
  margin-top: 10px;
  padding: 12px;
  border-radius: 5px;
  width: 300px;
  border-radius: 20px;
  border: 1px solid grey;
  margin-right: 15px;
}
footer .section-footer .footer-container .sum-info .text-form .email-container input:focus {
  border-color: #0000ff;
  outline: none;
  box-shadow: 0px 0px 3px 0px rgb(0, 87, 217);
}
footer .section-footer .footer-container .sum-info .text-form .email-container .sign-up {
  text-decoration: none;
  border: 1px solid grey;
  padding: 10px 15px;
  width: 80px;
  border-radius: 20px;
  font-weight: bold;
  background-color: rgba(0, 87, 217, 0.9);
  color: #f5f5f5;
  font-size: 14px;
}
footer .section-footer .footer-container .sum-info .text-form .email-container .sign-up:hover {
  cursor: pointer;
  background-color: rgba(0, 87, 217, 0.6);
}
footer .section-footer .footer-container .sum-info .text-form .email-container p {
  color: #272727;
  font-size: 12px;
  font-weight: 500;
}
footer .section-footer .footer-container .sum-info .text-form .email-container .policy {
  text-decoration: none;
  font-size: 12px;
}
footer .section-footer .footer-container .lists {
  display: flex;
  width: 60%;
}
footer .section-footer .footer-container .lists .first-container {
  width: 25%;
}
footer .section-footer .footer-container .lists .first-container p {
  font-size: 15px;
  font-weight: bold;
}
footer .section-footer .footer-container .lists .first-container ul {
  list-style-type: none;
}
footer .section-footer .footer-container .lists .first-container ul li {
  margin: 12px 0;
}
footer .section-footer .footer-container .lists .first-container ul li a {
  font-size: 14px;
  font-weight: 500;
  color: #272727;
  text-decoration: none;
}
footer .section-footer .footer-container .lists .first-container ul li a:hover,
footer .section-footer .footer-container .lists .first-container ul li a:focus {
  cursor: pointer;
  color: #000;
  background-color: rgb(181, 171, 171);
  padding: 5px;
  border-radius: 10px;
  transition: 2ms ease-in-out;
  outline: none;
}
footer .section-footer .footer-container .lists .second-container {
  width: 25%;
}
footer .section-footer .footer-container .lists .second-container p {
  font-size: 15px;
  font-weight: bold;
}
footer .section-footer .footer-container .lists .second-container ul {
  list-style-type: none;
}
footer .section-footer .footer-container .lists .second-container ul li {
  margin: 12px 0;
}
footer .section-footer .footer-container .lists .second-container ul li a {
  font-size: 14px;
  font-weight: 500;
  color: #272727;
  text-decoration: none;
}
footer .section-footer .footer-container .lists .second-container ul li a:hover,
footer .section-footer .footer-container .lists .second-container ul li a:focus {
  cursor: pointer;
  color: #000;
  background-color: rgb(181, 171, 171);
  padding: 5px;
  border-radius: 10px;
  transition: 2ms ease-in-out;
  outline: none;
}
footer .section-footer .footer-container .lists .third-container {
  width: 25%;
}
footer .section-footer .footer-container .lists .third-container p {
  font-size: 15px;
  font-weight: bold;
}
footer .section-footer .footer-container .lists .third-container ul {
  list-style-type: none;
}
footer .section-footer .footer-container .lists .third-container ul li {
  margin: 12px 0;
}
footer .section-footer .footer-container .lists .third-container ul li a {
  font-size: 14px;
  font-weight: 500;
  color: #272727;
  text-decoration: none;
}
footer .section-footer .footer-container .lists .third-container ul li a:hover,
footer .section-footer .footer-container .lists .third-container ul li a:focus {
  cursor: pointer;
  color: #000;
  background-color: rgb(181, 171, 171);
  padding: 5px;
  border-radius: 10px;
  transition: 2ms ease-in-out;
  outline: none;
}
footer .section-footer .footer-container .lists .fourth-container {
  width: 25%;
}
footer .section-footer .footer-container .lists .fourth-container p {
  font-size: 15px;
  font-weight: bold;
}
footer .section-footer .footer-container .lists .fourth-container ul {
  list-style-type: none;
}
footer .section-footer .footer-container .lists .fourth-container ul li {
  margin: 12px 0;
}
footer .section-footer .footer-container .lists .fourth-container ul li a {
  font-size: 14px;
  font-weight: 500;
  color: #272727;
  text-decoration: none;
}
footer .section-footer .footer-container .lists .fourth-container ul li a:hover,
footer .section-footer .footer-container .lists .fourth-container ul li a:focus {
  cursor: pointer;
  color: #000;
  background-color: rgb(181, 171, 171);
  padding: 5px;
  border-radius: 10px;
  transition: 2ms ease-in-out;
  outline: none;
}/*# sourceMappingURL=main.css.map */