@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;500;600;700;800&display=swap");
@import "./variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Barlow", sans-serif;
}

body {
  background: $body-color;
  width: 100%;
}
