@import "./variables";

.video-container {
  width: 100%;
  height: 100%;
  margin-top: 60px;
  position: relative;
  video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .video-text {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    top: 1%;
    span {
      font-size: 260px;
      text-align: center;
      text-transform: uppercase;
      color: $secondary-color;
      line-height: 1.05;
      font-weight: $font-weight;
    }
    .line2 {
      font-size: 260px;
      text-transform: uppercase;
      color: $secondary-color;
      line-height: 1.05;
      font-weight: $font-weight;
    }
    .line3 {
      text-align: center;
      color: $secondary-color;
      font-size: 70px;
      line-height: 1.05;
      font-weight: $font-weight;
    }
  }
  .description {
    position: absolute;
    display: flex;
    align-items: center;
    top: 75%;
    width: 100%;
    justify-content: center;
    font-weight: 600;

    p {
      margin-top: 5px;
      display: flex;
      justify-content: space-between;
      margin-right: 200px;
      font-size: 20px;
      color: $secondary-color;
    }
    .block {
      margin-top: 40px;
      display: block;
      text-align: center;
      a {
        text-decoration: none;
        padding: 10px;
        border: 1px solid grey;
        color: $primary-color;
        font-weight: 600;
        background-color: white;
        border-radius: 20px;
        padding: 7px 10px 10px;
        font-size: 14px;
        line-height: 4;
      }
      a:hover {
        color: white;
        background-color: $color-a;
        transition: 0.2s ease-in-out;
      }
      button {
        text-decoration: underline;
        background: none;
        cursor: pointer;
        font-size: 16px;
        border: none;
        color: $secondary-color;
        font-weight: 600;
      }
      button:hover {
        color: $color-a;
      }
      .modal {
        width: 500px;
        height: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        // transform: translate(-50%, -50%) scale(1);
        transition: 200ms ease-in-out;
        border: 1ps solid black;
        border-radius: 10px;
        z-index: 5;
        background-color: yellow;
        max-width: 80%;
        .picture {
          h2 {
            width: 200px;
            height: 200px;
            color: yellow;
          }
        }
      }
      .active {
        transform: translate(-50%, -50%) scale(1);
      }
      #overlay {
        position: fixed;
        opacity: 0;
        top: 0;
        left: 0;
        transition: 200ms ease-in-out;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        pointer-events: none;
        .active {
          pointer-events: all;
          opacity: 1;
        }
      }
    }
  }
}
